layerHeight=40px
iconSize=layerHeight*0.75
debordementAuSurvol=200px
jaugeExpend=8px
baseColor=#a5bfc0;
level0=baseColor
level1=darken(level0, 5%)
level2=darken(level1, 5%)
level3=darken(level2, 5%)
level4=darken(level3, 5%)
level5=darken(level4, 5%)
decalageLevel=4px
bordureLevel=2px

h1, h2, h3, h4
	font-weight bold

.empty
	display none !important

#legend
	width 180px
	background-color baseColor
	position fixed
	top 0
	left 0
	bottom 0
	display flex
	flex-direction column
	.header
		display flex
		position relative
		z-index 5
		h2
			flex 9
			line-height layerHeight
			text-align center
		a
			flex 1
			display block
	.left, .icon
		height layerHeight
		width iconSize + 10px
		img
			height iconSize
			width iconSize
			margin ((layerHeight - iconSize)/2) 5px

	.wrapper
		height "calc(100% - %s)" % layerHeight  //- https://stackoverflow.com/questions/32272158/how-to-use-a-stylus-variable-in-calc
		position relative
	ul
		position relative
		//overflow auto  // défilement géré via js selon position de la sourie
		//direction rtl
	.layer
		display block
		position relative
		//direction ltr
	.layer.final>.layerLine>.right
		padding-right 4px
		width 24px

	.header
		background-color level0
	>.wrapper>ul>.layer
			>.layerLine
				background-color level0
				>*
					background-color level0
				&:hover
					>*
						background-color lighten(level0, 30%)
				>.jauge
					background-color darken(level0, 10%)
					>.fill
						background-color darken(level0, 30%)
			>.subLayers
				border-color darken(level0, 50%)

				>.layer
					>.layerLine
						background-color level1
						>*
							background-color level1
						&:hover
							>*
								background-color lighten(level1, 30%)
						>.jauge
							background-color darken(level1, 10%)
							>.fill
								background-color darken(level1, 30%)
					>.subLayers
						border-color darken(level1, 50%)

						>.layer
							>.layerLine
								background-color level2
								>*
									background-color level2
								&:hover
									>*
										background-color lighten(level2, 30%)
								>.jauge
									background-color darken(level2, 10%)
									>.fill
										background-color darken(level2, 30%)
							>.subLayers
								border-color darken(level2, 50%)

								>.layer
									>.layerLine
										background-color level3
										>*
											background-color level3
										&:hover
											>*
												background-color lighten(level3, 30%)
										>.jauge
											background-color darken(level3, 10%)
											>.fill
												background-color darken(level3, 30%)
									>.subLayers
										border-color darken(level3, 50%)

										>.layer
											>.layerLine
												background-color level4
												>*
													background-color level4
												&:hover
													>*
														background-color lighten(level4, 30%)
												>.jauge
													background-color darken(level4, 10%)
													>.fill
														background-color darken(level4, 30%)
											>.subLayers
												border-color darken(level4, 50%)

												>.layer
													>.layerLine
														background-color level5
														>*
															background-color level5
														&:hover
															>*
																background-color lighten(level5, 30%)
														>.jauge
															background-color darken(level5, 10%)
															>.fill
																background-color darken(level5, 30%)
													>.subLayers
														border-color darken(level5, 50%)

	.final .layerLine .middle h3.title // rendre ce selecteur fonctionnel
		font-weight normal

	.layerLine
		height layerHeight
		display flex
		position relative
		z-index 2
		//margin-bottom 4px
		text-align left
		.title
			line-height layerHeight
			padding-left 5px
			overflow hidden
		>*
			position relative
			z-index 2
		&:hover
			>*
				background-color lighten(#a5bfc0, 30%)
			>.rightExtension
				right - debordementAuSurvol
				width debordementAuSurvol
				background-color lighten(#a5bfc0, 30%)
			>.jauge
				width 4px + jaugeExpend
				margin-right - jaugeExpend
		.rightExtension
			overflow-x hidden
			overflow-y auto
			padding 5px
			padding-left 5px + jaugeExpend
			height layerHeight
			position absolute
			z-index 1
			transition all 0.5s
			width 100%
			right 0

		.left
			position:relative
			width iconSize + 10px
			.layerEntityCount
				position absolute
				bottom 2px
				right 0
				background-color #eee
				border-radius 4px
				padding 0 2px
		.middle
			flex 9 70px
			overflow hidden

		.right
			width 20px
			text-align center
			line-height (layerHeight/2)
			.unfold, .fold
				color black
				text-decoration none
				font-weight bold
				font-size 18px
				display block
			.fold
				display none
			/*
			input // taille checkbox
				width 16px
				height 16px
			*/


		.jauge
			position relative
			height layerHeight
			width 4px
			transition all 0.5s
			.fill
				position absolute
				bottom 0
				right 0
				width 100%
				//height (2*layerHeight/5)

	.subLayers
		border-width 0
		margin-left decalageLevel
		border-left-width bordureLevel
		border-style solid
		position relative
		//top - layerHeight
		transition all 0.5s
		//transition top 0.5s
		z-index 1
		>.layer>.layerLine
			transition all 0.5s
			height 0
			>*
				transition top 0.5s
				top - layerHeight
			//>.layerLine
			//	margin 0
			//position relative
			//top - layerHeight
		>.layer>.subLayers
			display none
	.layer.expanded>.layerLine
		>.right>.fold
			display block
		>.right>.unfold
			display none

	.layer.expanded>.subLayers
		border-bottom-width bordureLevel
		margin-bottom decalageLevel
		//top 0
		>.layer>.layerLine
			height layerHeight
			>*
				top 0
			//margin-bottom 4px
		>.layer>.subLayers
			display block

