mainToolsHeight=45px
pictoButtonSize=mainToolsHeight*0.85


/*
@font-face {
	font-family: 'Ubuntu';
	src: url('fonts/ubuntu-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu';
	src: url('fonts/ubuntu-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
*
	font-family Ubuntu, sans-serif
*/
#langPicker
	display none


#main-tools
	display flex
	.left
		flex 1
		display flex
		text-align left;
		>*
			display block
	.right
		flex 1
		display flex
		justify-content: flex-end;
		>*
			display block

#loginButton
	background-image url(../allData/img/mainTools/login.svg)
#emailButton
	background-image url(../allData/img/mainTools/email.svg)
#faqButton
	background-image url(../allData/img/mainTools/faq.svg)
#alertsButton
	background-image url(../allData/img/mainTools/alerts.svg)
#visuButton
	background-image url(../allData/img/mainTools/visu.svg)
#vizModeButton
	background-image url(../allData/img/mainTools/vizMode.svg)
#editModeButton
	background-image url(../allData/img/mainTools/editMode.svg)
#diagramGenButton
	background-image url(../allData/img/mainTools/diagramGen.svg)
#printButton
	background-image url(../allData/img/mainTools/print.svg)
#exportData
	background-image url(../allData/img/mainTools/exportData.svg)
#search
	searchDeco=mainToolsHeight*0.9
	background-image url(../allData/img/mainTools/search.svg)
	background-size searchDeco searchDeco
	background-position bottom left
	background-repeat no-repeat
	.decoSearch
		height searchDeco
		width 34px
		background-image url(../allData/img/mainTools/search.svg)
		background-size searchDeco searchDeco
		position absolute
		bottom 0
	input
		height 25px
		width 180px
		margin-left 28px
		margin-top 10px
		margin-right 10px
		padding-left 8px

linkColor(theColor)
	> line
		stroke theColor
	> use
		fill theColor

.node.Genre_PersonneMorale
	circle, path
		fill: #dc781d
.node.Genre_Projet
	circle, path
		fill: #3cbdc9
.node.Genre_PersonnePhysique
	circle, path
		fill: #bd78da
.node.Genre_Publication
	circle, path
		fill: #e6e829
.node.Genre_Evenement
	circle, path
		fill: #5abe27

.link.Links_Autre
	linkColor(#818181)
.link.Links_Financement
	linkColor(#da25bf)
.link.Links_Gouvernance
	linkColor(#da2525)
.link.Links_Partenariat
	linkColor(#2549da)
.link.Links_Proche
	linkColor(#25da79)
.link.Links_Membre
	linkColor(#FFFF00)
.link.Links_Service
	linkColor(#dac925)
.link.Links_AncienLien
	> line
		stroke-dasharray: 5,5
#viz .link.selected
	linkColor(red)
