/*
@font-face {
	font-family: 'Ubuntu';
	src: url('fonts/ubuntu-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu';
	src: url('fonts/ubuntu-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
*
	font-family Ubuntu, sans-serif
*/
#langPicker {
  display: none;
}
#main-tools {
  display: flex;
}
#main-tools .left {
  flex: 1;
  display: flex;
  text-align: left;
}
#main-tools .left >* {
  display: block;
}
#main-tools .right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
#main-tools .right >* {
  display: block;
}
#loginButton {
  background-image: url("../allData/img/mainTools/login.svg");
}
#emailButton {
  background-image: url("../allData/img/mainTools/email.svg");
}
#faqButton {
  background-image: url("../allData/img/mainTools/faq.svg");
}
#alertsButton {
  background-image: url("../allData/img/mainTools/alerts.svg");
}
#visuButton {
  background-image: url("../allData/img/mainTools/visu.svg");
}
#vizModeButton {
  background-image: url("../allData/img/mainTools/vizMode.svg");
}
#editModeButton {
  background-image: url("../allData/img/mainTools/editMode.svg");
}
#diagramGenButton {
  background-image: url("../allData/img/mainTools/diagramGen.svg");
}
#printButton {
  background-image: url("../allData/img/mainTools/print.svg");
}
#exportData {
  background-image: url("../allData/img/mainTools/exportData.svg");
}
#search {
  background-image: url("../allData/img/mainTools/search.svg");
  background-size: 40.5px 40.5px;
  background-position: bottom left;
  background-repeat: no-repeat;
}
#search .decoSearch {
  height: 40.5px;
  width: 34px;
  background-image: url("../allData/img/mainTools/search.svg");
  background-size: 40.5px 40.5px;
  position: absolute;
  bottom: 0;
}
#search input {
  height: 25px;
  width: 180px;
  margin-left: 28px;
  margin-top: 10px;
  margin-right: 10px;
  padding-left: 8px;
}
.node.Genre_PersonneMorale circle,
.node.Genre_PersonneMorale path {
  fill: #dc781d;
}
.node.Genre_Projet circle,
.node.Genre_Projet path {
  fill: #3cbdc9;
}
.node.Genre_PersonnePhysique circle,
.node.Genre_PersonnePhysique path {
  fill: #bd78da;
}
.node.Genre_Publication circle,
.node.Genre_Publication path {
  fill: #e6e829;
}
.node.Genre_Evenement circle,
.node.Genre_Evenement path {
  fill: #5abe27;
}
.link.Links_Autre > line {
  stroke: #818181;
}
.link.Links_Autre > use {
  fill: #818181;
}
.link.Links_Financement > line {
  stroke: #da25bf;
}
.link.Links_Financement > use {
  fill: #da25bf;
}
.link.Links_Gouvernance > line {
  stroke: #da2525;
}
.link.Links_Gouvernance > use {
  fill: #da2525;
}
.link.Links_Partenariat > line {
  stroke: #2549da;
}
.link.Links_Partenariat > use {
  fill: #2549da;
}
.link.Links_Proche > line {
  stroke: #25da79;
}
.link.Links_Proche > use {
  fill: #25da79;
}
.link.Links_Membre > line {
  stroke: #ff0;
}
.link.Links_Membre > use {
  fill: #ff0;
}
.link.Links_Service > line {
  stroke: #dac925;
}
.link.Links_Service > use {
  fill: #dac925;
}
.link.Links_AncienLien > line {
  stroke-dasharray: 5, 5;
}
#viz .link.selected > line {
  stroke: #f00;
}
#viz .link.selected > use {
  fill: #f00;
}
